# Dependências
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Ambiente
.env
.env.local
.env.*.local

# Build
dist/
build/
.next/
out/

# Cypress
cypress/videos/
cypress/screenshots/
cypress/downloads/
cypress/fixtures/
cypress/coverage/

# Logs
logs
*.log

# Sistema
.DS_Store
Thumbs.db
